/*
Title:	Master styles for screen media
Author: Jordan Cooperman, jordan@vectormediagroup.com
Year: 2011

Welcome, thou wanderer of the interwebs!
If you have any questions, Don't be shy. Send me a line!
================================================================
----------------------------------------------------------------

[Table of contents]

 0.General
 1.Layout
 2.Navigation
 3.Header
 4.Footer
 5.Pages
     i.
 6.Modules
 7.Forms
 8.Sprites
 *.User Defined

----------------------------------------------------------------*/
/* positioning */
/* sprites */
/* borders made from backgrounds */
/* triangles */
/* css3 */
/* grid container
============================================== */
.container-12 {
  width: 960px;
  margin: 0 auto;
  position: relative; }
  .container-12:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* grid divisions
============================================== */
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  margin: 10px 5px 0;
  padding: 0;
  display: inline;
  float: left; }

.grid-1 {
  width: 70px; }

.grid-2 {
  width: 150px; }

.grid-3 {
  width: 230px; }

.grid-4 {
  width: 310px; }

.grid-5 {
  width: 390px; }

.grid-6 {
  width: 470px; }

.grid-7 {
  width: 550px; }

.grid-8 {
  width: 630px; }

.grid-9 {
  width: 710px; }

.grid-10 {
  width: 790px; }

.grid-11 {
  width: 870px; }

.grid-12 {
  width: 950px; }

.from-left-1 {
  margin-left: 70px; }

.from-left-2 {
  margin-left: 150px; }

.from-left-3 {
  margin-left: 230px; }

.from-left-4 {
  margin-left: 310px; }

.from-left-5 {
  margin-left: 390px; }

.from-left-6 {
  margin-left: 470px; }

.from-left-7 {
  margin-left: 550px; }

.from-left-8 {
  margin-left: 630px; }

.from-left-9 {
  margin-left: 710px; }

.from-left-10 {
  margin-left: 790px; }

.from-left-11 {
  margin-left: 870px; }

.from-left-12 {
  margin-left: 950px; }

* {
  font-family: "Verdana", "Helvetica Neue", "Arial", "Sans-serif"; }

body {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em; }

.small {
  /* 13px / 18px */
  font-size: 0.813em;
  line-height: 1.385em; }

.normal, h3 {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em;
  /* 24 */ }

.normal-large {
  /* 18 / 30 */
  font-size: 1.125em;
  line-height: 1.667em; }

.large, h2, h1 {
  /* 26 / 36px */
  font-size: 1.625em;
  line-height: 1.385em; }

.large-huge {
  /* 30 / 42px */
  font-size: 1.875em;
  line-height: 1.4em; }
  .large-huge.spaced {
    line-height: 2.4em; }

.huge {
  /* 42px / 48px */
  font-size: 2.625em;
  line-height: 1.143em; }

.massive {
  /* 68px / 72px */
  font-size: 4.25em;
  line-height: 0.988em; }

.gigantic {
  /* 110px / 120px */
  font-size: 6.875em;
  line-height: 1.091em; }

p {
  font-family: "skolar"; }
  p .drop-cap {
    font-size: 2em;
    /* 24 / 12 */ }

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-slab";
  font-weight: 700;
  margin: 0; }

h1 .small {
  font-size: 0.66666666666667em;
  /* 20 / 30 */
  font-family: "museo-sans";
  font-weight: 300; }

#user-nav li {
  font-family: "museo-sans";
  font-weight: 500;
  font-style: italic; }
#user-nav a {
  font-family: "museo-sans";
  font-weight: 500;
  font-style: normal; }

#main-nav a {
  font-family: "museo-slab";
  font-weight: 700; }

button {
  font-family: "museo-sans";
  font-weight: 700; }

/*
 * media queries included
 * at end of document
 */
/* 0.`general
============================================== */
::-moz-selection {
  background: #44a1dd;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #44a1dd;
  color: #fff;
  text-shadow: none; }

hr.stripes {
  margin: 0;
  height: 6px;
  clear: both;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-image: url("../img/bg-stripes.png");
  background-repeat: repeat; }

/* 1.`layout
============================================== */
html,
body {
  height: 100%;
  margin: 0; }

.header {
  border-top: 2px solid #f2b83b; }

/* 2.`navigation
============================================== */
#user-nav {
  float: right; }
  #user-nav li {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-left: 20px;
    color: #707070; }
    #user-nav li a {
      display: block;
      color: #707070;
      padding: 0 10px; }

#main-nav {
  clear: both; }
  #main-nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  #main-nav ul {
    float: right; }
  #main-nav li {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-left: 20px; }
    #main-nav li a {
      display: block;
      padding: 10px;
      text-transform: uppercase;
      color: #888; }
      #main-nav li a.active {
        position: relative;
        color: #000; }
        #main-nav li a.active em {
          position: absolute;
          left: -10px;
          top: 50%;
          margin-top: -8px;
          background-position: 0 0;
          width: 14px;
          height: 14px;
          background-repeat: no-repeat; }
      #main-nav li a:hover {
        color: #000; }

/* 3.`header
============================================== */
#logo {
  float: left;
  padding: 5px;
  margin-left: 10px; }

#header {
  margin-top: 20px; }

/* 4.`footer
============================================== */
#footer {
  margin: 0; }

/* 6.`modules
============================================== */
.padded-loose {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0; }

/* 8.`sprites
============================================== */
.icon,
.sprite {
  text-indent: -9999px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  display: block; }

.sprite {
  background-image: url("../img/finalsclub-sprite-images.png"); }

.icon {
  background-image: url("../img/finalsclub-sprite-icons.png"); }

/* media queries */
/* media queries
============================================== */
/* *.`user defined
============================================== */
.right {
  float: right !important; }

.no-top-margin {
  margin-top: 0; }
