/*
Title:	Master styles for screen media
Author: Jordan Cooperman, jordan@vectormediagroup.com
Year: 2011

Welcome, thou wanderer of the interwebs!
If you have any questions, Don't be shy. Send me a line!
================================================================
----------------------------------------------------------------

[Table of contents]

 0.General
 1.Layout
 2.Navigation
 3.Header
 4.Footer
 5.Pages
     i.
 6.Modules
 7.Forms
 8.Sprites
 *.User Defined

----------------------------------------------------------------*/

$gold: #f2b83b;

@import "includes/mixins.scss";
@import "includes/grid.scss";
@import "includes/type.scss";

/*
 * media queries included
 * at end of document
 */


/* 0.`general
============================================== */

::-moz-selection { background: #44a1dd; color: #fff; text-shadow: none; }
::selection { background: #44a1dd; color: #fff; text-shadow: none; }


hr {
  &.stripes {
    margin: 0;
    height: 6px;
    clear: both;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-image: url("../img/bg-stripes.png");
    background-repeat: repeat;

  }
}

/* 1.`layout
============================================== */

html,
body {
    height : 100%;
    margin : 0;
}

.header {
//  @include rounded-side("left", "top", 8px);
//  @include rounded-side("right", "top", 8px);
//  margin-top: 10px;
//  background-image: url("../img/bg-black-noise.gif");
//  background-repeat: repeat;
//  border-bottom: 2px solid $gold;
  border-top: 2px solid $gold;
}


/* 2.`navigation
============================================== */

#user-nav {
  float: right;

  li {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-left: 20px;
    color: #707070;

    a {
      display: block;
      color: #707070;
      padding: 0 10px;
    }
  }
}

#main-nav {
    @include group;
    clear: both;

    ul {
      float: right;
    }
    li {
        display: inline-block;
        vertical-align: middle;
        float: none;
        margin-left: 20px;

        a {
          display: block;
          padding: 10px;
          text-transform: uppercase;
          color: #888;

          &.active {
            position: relative;
            color: #000;

            em {
              position: absolute;
              left: -10px;
              top: 50%;
              margin-top: -8px;
              background-position: 0 0;
              width: 14px;
              height: 14px;
              background-repeat: no-repeat;
            }
          }

          &:hover {
            color: #000;
          }
        }
    }
}



/* 3.`header
============================================== */

#logo {
  float: left;
  padding: 5px;
  margin-left: 10px;
}
#header {
    margin-top: 20px;
}


/* 4.`footer
============================================== */

#footer {
    margin: 0;
}

/* 6.`modules
============================================== */

.padded-loose {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

/* 8.`sprites
============================================== */

.icon,
.sprite {
    text-indent : -9999px;
    line-height : 0;
    font-size   : 0;
    overflow    : hidden;
    display     : block;
}

.sprite { background-image : url('../img/finalsclub-sprite-images.png'); }
.icon { background-image   : url('../img/finalsclub-sprite-icons.png'); }

/* media queries */

@import "includes/media.scss";

/* *.`user defined
============================================== */

.right { float: right !important;}
.no-top-margin { margin-top: 0; }